body{
    background-color: rgb(245,245,245);
}
.world11{
    display: flex;
    height: fit-content;
    width: 650px;
    /* border: 1px solid black; */
    gap: 10px;
    margin-bottom: 10px;
    padding: 11px;
    background-color: white;
    border-radius: 3px;
}
.world11 > img{
    /* border: 1px solid red; */

}
.world11>:nth-child(2){
    text-align: left;
}
.world11>:nth-child(1)>img{
    width: 159px;
}
.business2{
    width:75%;
    /* margin: auto; */
    margin-top: 100px;
}
/* .business2>img{
    width: 100%;
    height: 300px;
} */
.business2>div{
    text-decoration: none;
}
.container1{
    /* border: 1px solid black; */
    margin-top: 85px ;
}