.parent{
    width: 60%;
    text-align: left;
    margin-top: 90px;
}
.h1{
    font-size:32px;
    color: #36363c;
    line-height: 33px;
    font-family:"Roboto Slab", serif ;
}
.img{
    height: 500px;
    width: 100%;
}
.p{
font-size:16px;
line-height:19px;
}
.span{
    font-size: 12px;
    line-height:18px;
    color:#707070;
    display: flex;
    place-items:center;
    justify-content: space-between;
    width:100%;
}
.dnaimg{
    height:30px;
    width:30px;
}